body {
  margin: 0;
  padding: 20px;
  
}

ul.CompoundList li { 
	margin-top: 10px;
}

ul.CompoundFamilyList li { 
	margin-top: 15px;
}

details > summary {
  padding: 4px;
  width: 180px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}

